.header {
  background-color: $color-bright-blue;
  overflow: hidden;
  position: relative;

  .main-menu {
    left: -1000em;
    position: absolute;
    top: 0;
    visibility: hidden;
  }
}

.header__icon {
  background-image: url('../assets/HuskyWolfWhBg.svg');
  background-position: center 10px;
  background-repeat: no-repeat;
  background-size: 325px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;

  .eye {
    background-color: white;
    border-radius: 100%;
    height: 8px;
    left: calc(50% - 80px);
    position: absolute;
    top: 110px;
    transition: transform 250ms ease-in;
    width: 8px;
  }

  .eye::after {
    background-color: black;
    border-radius: 100%;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    top: 2px;
    transition: transform 250ms ease-in;
    width: 4px;
  }

  .eye:last-child {
    left: calc(50% - 42px);
    top: 107px;
  }

  .bird:checked ~ .eye {
    transform: translateX(6px);

    &::after {
      transform: translateX(95%);
    }
  }

  .bird:checked ~ .eye:last-child {
    transform: translateX(9px);
  }
}

.header__heading {
  height: 0;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 250px;
  width: 200px;
}
