// Variables.
$width-lg: 1040px;

$font-sans: 'Work Sans', sans-serif;
$fa-font-path: './../assets/fa-webfonts';

$font-weight-bold: 700;
$font-weight-normal: 500;

$zi-high: 999;
$zi-mid: 500;
$zi-low: 50;
$zi-base: 1;
